In [2]:
import plotly.io as pio

pio.renderers.default = "vscode+jupyterlab+notebook_connected"

# Project 1
## Part 1 
Data set: Crime Data from 2020 to Present
The column we choose: Victim Age

In [3]:
import pandas as pd

url = "https://data.lacity.org/api/views/2nrs-mtv8/rows.csv?accessType=DOWNLOAD"

df = pd.read_csv(url)
print(df.head())

       DR_NO               Date Rptd                DATE OCC  TIME OCC  AREA  \
0  190326475  03/01/2020 12:00:00 AM  03/01/2020 12:00:00 AM      2130     7
1  200106753  02/09/2020 12:00:00 AM  02/08/2020 12:00:00 AM      1800     1
2  200320258  11/11/2020 12:00:00 AM  11/04/2020 12:00:00 AM      1700     3
3  200907217  05/10/2023 12:00:00 AM  03/10/2020 12:00:00 AM      2037     9
4  200412582  09/09/2020 12:00:00 AM  09/09/2020 12:00:00 AM       630     4

    AREA NAME  Rpt Dist No  Part 1-2  Crm Cd  \
0    Wilshire          784         1     510
1     Central          182         1     330
2   Southwest          356         1     480
3    Van Nuys          964         1     343
4  Hollenbeck          413         1     510

                                Crm Cd Desc  ... Status   Status Desc  \
0                          VEHICLE - STOLEN  ...     AA  Adult Arrest
1                     BURGLARY FROM VEHICLE  ...     IC   Invest Cont
2                             BIKE - STOLEN  ...     IC   Invest Cont
3  SHOPLIFTING-GRAND THEFT ($950.01 & OVER)  ...     IC   Invest Cont
4                          VEHICLE - STOLEN  ...     IC   Invest Cont

  Crm Cd 1 Crm Cd 2  Crm Cd 3 Crm Cd 4  \
0    510.0    998.0       NaN      NaN
1    330.0    998.0       NaN      NaN
2    480.0      NaN       NaN      NaN
3    343.0      NaN       NaN      NaN
4    510.0      NaN       NaN      NaN

                                   LOCATION Cross Street      LAT       LON
0   1900 S  LONGWOOD                     AV          NaN  34.0375 -118.3506
1   1000 S  FLOWER                       ST          NaN  34.0444 -118.2628
2   1400 W  37TH                         ST          NaN  34.0210 -118.3002
3  14000    RIVERSIDE                    DR          NaN  34.1576 -118.4387
4                          200 E  AVENUE 28          NaN  34.0820 -118.2130

[5 rows x 28 columns]

Do the calculation.

In [4]:
vict_age = df['Vict Age'].dropna()
mean_age = vict_age.mean()
median_age = vict_age.median()
mode_age = vict_age.mode()
mode_age = mode_age[0]

print(f"mean age: {mean_age}")
print(f"median age: {median_age}")
print(f"mode age: {mode_age}")

mean age: 28.934301576798635
median age: 30.0
mode age: 0

## Part 2 
First, make sure you get the right dataset.

In [5]:

import requests
import csv
url = 'https://data.lacity.org/api/views/2nrs-mtv8/rows.csv?accessType=DOWNLOAD'
response = requests.get(url)
response.raise_for_status() 
lines = response.text.splitlines()

Get the column we need: victim age.

In [6]:
ages = []
reader = csv.DictReader(lines)
for row in reader:
    if row['Vict Age']:
        ages.append(int(row['Vict Age']))

Do the calculation.

In [7]:
# get the mean age
mean_age = sum(ages) / len(ages)
print(f"mean age: {mean_age}")

# get the median age, discussed seperately when n is odd
sorted_ages = sorted(ages)
n = len(sorted_ages)
if n % 2 == 1:  
    median_age = sorted_ages[n // 2]
else:  
    median_age = (sorted_ages[n // 2 - 1] + sorted_ages[n // 2]) / 2

print(f"median age: {median_age}")

# get the mode 

from collections import Counter
age_counts = Counter(ages)
max_count = max(age_counts.values())
modes = [age for age, count in age_counts.items() if count == max_count]
mode_age = modes[0] 
print(f"mode: {mode_age}")

mean age: 28.934301576798635
median age: 30
mode: 0

## Data Visualization

Categorize age groups.

In [8]:
bins = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
age_groups = pd.cut(vict_age, bins=bins)
age_counts = age_groups.value_counts().sort_index()

Generate sparkline.

In [9]:
def generate_sparkline(data):
    max_count = max(data.values) 
    for age_range, count in data.items():
        num_stars = int((count / max_count) * 20)  
        print(f"{age_range}: {'█' * num_stars} ({count})")


print("Victim Age Distribution (Sparkline):")
generate_sparkline(age_counts)

Victim Age Distribution (Sparkline):
(0, 10]:  (5309)
(10, 20]: █████ (47892)
(20, 30]: ████████████████████ (186989)
(30, 40]: ███████████████████ (184722)
(40, 50]: █████████████ (124627)
(50, 60]: █████████ (92262)
(60, 70]: █████ (53689)
(70, 80]: ██ (20608)
(80, 90]:  (5653)
(90, 100]:  (1324)